footer {
    text-align: center;
    padding: 30px 0;
    background: #000;
    color: rgb(209, 208, 208);
    backdrop-filter: blur(5px);
    border-top: var(--border);
}

.footer-text {
    color: var(--gray);
    font-size: 0.9rem;
}

.footer-text a {
    color: var(--primary);
    font-weight: 600;
}
