header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100px;
  z-index: 1000;
  padding: 30px 0;
  transition: var(--transition);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
  position: relative;
}

.navbar::before,
.navbar::after {
  content: '';
  position: absolute;
  left: 70%;
  transform: translateX(-50%);
  width: 2px;
  height: 100px;
  background: var(--primary);
}

.navbar::before {
  top: 0;
}

.navbar::after {
  bottom: 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Space Grotesk', sans-serif;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.logo-icon {
  color: var(--primary);
  font-size: 2.5rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
}

.nav-links a {
  position: relative;
  padding: 10px 15px;
  display: block;
  transform: rotate(-90deg);
  color: black;
  border-radius: 8px;
  transition: var(--transition);
}

.nav-links a:hover {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.nav-links a.active {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.theme-toggle {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 26px;
    background: white;
    border-radius: 50px;
    cursor: pointer;
    border: var(--border);
    display: flex;
    align-items: center;
    padding: 0 5px;
    justify-content: space-between;
    z-index: 1000;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  /* background: #272727; */
  background:  var(--primary);
  border-radius: 3px;
  z-index: 1000;
}

.hamburger span:nth-child(2) {
  width: 17px;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 1000px) {
  header {
    width: 100%;
    height: auto;
    padding: 5px 0;
    flex-direction: row;
  }
  
  .container {
    width: 100%;
  }
  
  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
  }
  
  .logo {
    flex-direction: row;
    margin-bottom: 0;
    font-size: 1.3rem;
  }
  
  .logo-icon {
    font-size: 1.8rem;
  }
  
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    display: none;
  }

  .nav-links a {
    transform: rotate(0);
  }
  
  .nav-links.active {
    display: flex;
    background: white;
    width: 50%;
    left: 70%;
    top: 0;
    height: 100vh;
  }
  
  .nav-links a::after {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .navbar::after,
  .navbar::before {
    display: none;
  }

  .logo {
    display: flex;
  }
  
  .theme-toggle {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
    .nav-links.active {
        left: 50%;
    }
}
