#projects {
    padding-bottom: 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); */
    gap: 30px;
    /* align-items: stretch; */
    height: 85vh;
    overflow-y: scroll;
}

.projects-grid::-webkit-scrollbar {
    display: none;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.project-card {
    background: var(--glass);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
    border: var(--border);
    box-shadow: var(--shadow);
    transition: var(--transition);
    opacity: 1;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    height: 500px;
}

.project-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.project-image {
    height: 200px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.project-card:hover .project-image img {
    transform: scale(1.1);
}

.project-content {
    padding: 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-description {
    color: var(--gray);
    margin-bottom: 20px;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.project-tech span {
    background: rgba(67, 97, 238, 0.1);
    color: var(--primary);
    padding: 3px 10px;
    border-radius: 50px;
    font-size: 0.8rem;
}

.project-links {
    display: flex;
    gap: 15px;
    margin-top: auto;
}

.project-links .btn,
.project-links .btn-outline {
    flex: 1;
    text-align: center;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
    
    .project-links {
        flex-direction: column;
    }
    
    .project-links .btn,
    .project-links .btn-outline {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    #projects {
        margin-top: 20px;
    }

    #projects .section-title {
        margin-bottom: 30px;
    }

    .projects-wrapper {
        grid-template-columns: 1fr;
    }

    .projects-grid {
        padding-top: 20px;
    }

    .project-card {
        height: 600px;
    }

    .projects-text p,
    .projects-text h1 {
        text-align: center;
    }
}