:root {
  --bg-color: #f8f9fa;
  --text-main: #1d1b1b;
  --text-muted: #6c757d;     
  
  --primary-accent: #4361ee;
  --secondary: #333333;
  
  --glass: rgba(255, 255, 255, 0.7);
  --shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --transition: 0.3s ease;
}

.dark-mode {
  --bg-color: #131313;
  --text-main: #eeeeee;
  --text-muted: #c0c6cc;
  
  --glass: rgba(255, 255, 255, 0.05);
  --shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  --border: 1px solid rgba(255, 255, 255, 0.05);
}